@function opposite-color($color) {
	@if lightness($color) < 50 {
		@return(#fff);
	}
	@else {
		@return(#000);
	}
}

@function similar-color($color, $tolerance) {
	@if lightness($color) < 50 {
		$shade: lighten(#000, $tolerance);
		@return($shade);
	}
	@else {
		$shade: darken(#fff, $tolerance);
		@return($shade);
	}
}