$body-margins: true;

/* --- BASE */
* {
    box-sizing: border-box;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    // Main reset
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
}

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: $font-weight;
    font-size: $font-size;
    -webkit-font-smoothing: antialiased;
    @if $body-margins {
        padding-left: .5em;
        padding-right: .5em;
    }
}

@each $heading in $headings {
    $i: index($headings, $heading);
    $shade: 13 * $i;
    #{$heading} {
        line-height: 1.3em;
        font-size: 2.6em - $i / 3;
        font-weight: $font-weight;
        margin-top: $xsm-margin;
    }
}

a {
    cursor: pointer;
    color: $primary-color;
    &:hover {
        color: lighten($primary-color, 5);
    }
}
p {
    font-size: 1.125em;
    margin-top: $xsm-margin;
    margin-bottom: $xsm-margin;
    font-family: "Open Sans","Hevetica Neue","Helvetica",sans-serif;
    font-weight: 300;
    line-height: 1.45em;
}
code {
  padding: .15em .25em;
  font-size: .85em;
  line-height: inherit;
  border-radius: 2px;
  background-color: rgba(0,0,0,0.05);
  border: 1px solid rgba(0,0,0,0.07);
  font-family: Monaco,Menlo,'Ubuntu Mono',Consolas,source-code-pro,monospace;
}

*:focus, *:active {
    outline: none;
}

hr {
    margin: $margin/2 auto;
    border: 0;
    border-top: 1px solid $dark-shadow;
}
button {
    overflow: visible
}
button, select {
    text-transform: none
}
button, html input[type="button"], input[type="reset"], input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer
}
button[disabled], html input[disabled] {
    cursor: default
}
button::-moz-focus-inner, input::-moz-focus-inner {
    border: 0;
    padding: 0
}
input {
    line-height: normal
}
input[type="checkbox"], input[type="radio"] {
    box-sizing: border-box;
    padding: 0
}
input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button {
    height: auto
}
input[type="search"] {
    -webkit-appearance: textfield;
    box-sizing: content-box
}
input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none
}
fieldset {
    border: 1px solid silver;
    margin: 0 2px;
    padding: .35em .625em .75em
}
legend {
    border: 0;
    padding: 0
}
textarea {
    overflow: auto
}
optgroup {
    font-weight: 700
}
table {
    border-collapse: collapse;
    border-spacing: 0
}
td, th {
    padding: 0
}
img, video {
    max-width: 100%;
    height: auto;
    box-sizing: border-box;
    border: 0;
    vertical-align: middle;
}

iframe {
    border: 0;
    width: 100%;
}
code {
    padding: 3px;
    border-radius: 3px;
}
.primary {
    background-color: $primary-color;
}
.success {
    background-color: $success-color;
}
.warning {
    background-color: $warning-color;
}
.danger {
    background-color: $danger-color;
}

ul {
    padding: 0; // Webkit has default margin-left
}

@viewport { // Needed for responsiveness to work on mobile
    zoom: 1.0;
    width: device-width;
}
