button {
	color: darken($default-color, 70);
	background: $default-color;
	border: darken($default-color, 5) 1px solid;
	border-radius: $border-radius;
	transition: all 150ms ease;
	user-select: none;
	appearance: none;
	font-weight: 500;
	-webkit-font-smoothing: antialiased;
	display: inline-block;
	padding: $margin/4 $margin;
	cursor: pointer;
	font-size: 1.125em;
	text-align: center;
	white-space: nowrap;
	height: 3em;
	box-shadow: $light-shadow;

	&:hover, &:focus {
		background: #fff;
	}

	&:focus {
		outline: -webkit-focus-ring-color auto 5px;
		box-shadow: none;
	}

	&.primary, &.success, &.warning, &.danger {
		color: #fff;
	}
	
	&.primary {
		border: darken($primary-color, 5) 1px solid;
		&:hover, &:focus {
			background: darken($primary-color, 5);
		}
		&:active {
			background: darken($primary-color, 10);
			outline: 0;
		}
	}

	&.success {
		border: darken($success-color, 5) 1px solid;
		&:hover, &:focus {
			background: darken($success-color, 5)
		}
	}

	&.warning {
		border: darken($warning-color, 5) 1px solid;
		&:hover, &:focus {
			background: darken($warning-color, 5)
		}
	}

	&.danger {
		border: darken($danger-color, 5) 1px solid;
		&:hover, &:focus {
			background: darken($danger-color, 5)
		}
	}

}