input, select {
	padding: $margin/2 $margin/2;
	font-size: 1.125em;
	box-sizing: border-box;
	min-width: 260px;
	padding: $margin/2;
	outline: 0;
	background: #fff;
	border: #d0e2ea 1px solid;
	border-radius: 2px;
	box-shadow: rgba(0,0,0,0.05) 0 1px 3px inset;
	transition: all 0.15s ease-out 0;
	min-height: 50px;

	:focus {
		border-color: $primary-color;
		:invalid {
			border-color: $danger-color;
		}
	}
}

select {
	-webkit-appearance: menulist-button;
	height: 50px;
}
