$nav-color: #fff;
$nav-height: 3em;
$footer-background-color: #fff;

/*
	-------
	GALAXY/HEADER
	_______
*/

header {
	margin: 0;
	background-color: $nav-color;
	color: opposite-color($nav-color);
	box-shadow: $light-shadow;
	@if $body-margins {
		margin-left: -.5em;
		margin-right: -.5em;
	}
	&:before, &:after {
		content: '';
		display: table;
	}
	&:after {
		clear: both;
	}
	ul {
		list-style: none;

		li {
			float: left;
			position: relative;
			&.active, & a.active {
				color: $primary-color;
			}

			a {
				color: similar-color($nav-color, 80);
				display: block;
				padding: $padding;
				text-decoration: none;
			}
		}
	}
}

footer {
	ul {
		list-style: none;
		a {
			text-decoration: none;
		}
	}
}
